body {
    padding-top: 70px;
}

@media screen and (min-width: 768px){
    .navbar-center {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        margin: auto;
    }
}

@media screen and (max-width:768px){
    .navbar-center {
        padding-bottom: 5px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-right {
        padding-right: 100px;
    }

    .navbar-left {
        padding-left: 100px;
    }
}


.panel-body {
    background-color: rgba(62,160,146, 0.4);
}

.thumbnails .well {
    background-color: rgba(62,160,146, 0.4);
}


ul#noBullet {
    list-style-type: none !important;
}


.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a {
    font-size: 30px;
}

.button {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #fc4a1a;
    border-color: white;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    padding: 25px 50px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: rgba(252, 74, 26, 0.4);

}

.button-small {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #fc4a1a;
    border-color: white;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding: 3px 10px;
    transition-duration: 0.4s;
}

    .button-small:hover {
        background-color: rgba(252, 74, 26, 0.4);
    }

    @media screen and (max-width: 768px) {
        .remove-padding {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }

h1 {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

h2{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 22px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

h3 {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}

.inLine{
    display: inline-block;
    float: left;
}

p {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

.layer {
    background-color: rgba(74, 189, 172, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}



