

<div ng-controller="workoutSideBarController" id="workoutSideBar" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" ng-tap="closeNav()" ng-click="closeNav()">&times;</a>
    <!--
    <a href="#">It</a>
    <a href="#">Fucking</a>
    <a href="#">Works</a>-->

    <ul id="noBullet" class="thumbnails" style="padding-right: 25px;">
        <li id="sideLi" style="padding: 2px 2px 0px 2px" class="col-md-12">
            <h2>Custom</h2>
            <form ng-submit="addCustomActivity()">
                <input type="text" ng-model="customAct" placeholder="Enter Custom Activity" size="15" />
                <button style="float: right;" type="submit" class="button-small">Add</button>
            </form>
        </li>
        <li id="sideLi" ng-repeat="act in activities" ng-click="addActivity(act)" ng-tap="addActivity(act)" class="col-md-12">
            <h2>{{act}}</h2>
        </li>
    </ul>
</div>